*{
  padding: 0;
  margin: 0;
}
.navigation ul{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  /* background-color: black; */
}
.navigation li{
  list-style: none;
}
.navigation a{
  display: block;
  padding: 10px;
  text-decoration: none;
  color: aliceblue;
  font-size: larger;
}
.navigation a:hover{
  background-color: rgb(176, 183, 192);
}
.active{
  background-color: #c2b506;
}


.container {
  width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  text-align: center;
  margin: 10px;
  width: 30%;
}

.card{
  background-color: silver;
  width: 100%;
  border: 3px solid #c2b506;
}

.card img{
  width: 100%;
}

.card h2{
  padding: 5px;
}

.glow-on-hover {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  color: #fff; 
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  margin-top: 5px;
  /* border-radius: 10px; */
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  /* border-radius: 10px; */
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  /* border-radius: 10px; */
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c2b506;
  color: white;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 38%;
  position: relative;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.a{
  color: white;
}